<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE ProjectConfiguration>
<!-- Written by CDPStudio 1.2.0, 2017-07-05T13:41:52. -->
<qtcreator>
 <data>
  <variable>Networks</variable>
  <valuemap type="QVariantMap">
   <value type="QString" key="ActiveNetwork">Loopback</value>
   <valuemap type="QVariantMap" key="NetworkList"/>
  </valuemap>
 </data>
</qtcreator>
