<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE ProjectConfiguration>
<!-- Written by CDPStudio 1.2.0, 2017-07-06T11:47:02. -->
<qtcreator>
 <data>
  <variable>ProjectManagerSettings</variable>
  <valuemap type="QVariantMap">
   <valuemap type="QVariantMap" key="ApplicationSettings">
    <value type="QString" key="DeployDirectory">WeatherStationX/OutsideWeather</value>
    <value type="QString" key="DeviceId">192.168.1.77WeatherStationXethernet_32769</value>
    <value type="QString" key="TargetFriendlyName">Raspbian Jessie 32bit</value>
   </valuemap>
  </valuemap>
 </data>
</qtcreator>
